<div *ngIf="project" class="project">

  <div mat-card-title style="margin: auto;">
    <button mat-stroked-button (click) = projects()>Show projects</button>

    <mat-card class="project-info"> 
      
      <div *ngIf="project">
        <label>Project name: {{project.name}}</label>
      </div>

    </mat-card>
    <mat-card class="project-info"> 
      <div *ngIf="project">
        <label>Description: {{project.description}}</label>
      </div>        
    </mat-card>

    <mat-card class="project-info"> 
      <div *ngIf="project">
        <label>Date of creation: {{project.creationDate|date}}</label>
      </div>
    </mat-card>

    <mat-card class="project-info"> 
      <div *ngIf="project">
        <label>Project status: {{project.projectStatus}}</label>
      </div>   
    </mat-card>

    <div class="buttons">
      <button (click)=edit(project.id) mat-button> Edit </button>
      <button (click)=delete(project.id) mat-button>Delete</button>
    </div>
  
  </div>
  
