<div *ngIf="user" class="profile">
  <mat-card class="user-profile">
    <picture class="photo">
      <img class="img-photo" mat-card-image [src]="imageBlobUrl" alt="User photo">
    </picture>
    <div class="user-info">
      <div *ngIf="user.userInfo.firstName && user.userInfo.lastName &&
      user.userInfo.firstName !== '' && user.userInfo.lastName !== ''; else showEmail">
        <label class="username">{{user.userInfo.firstName }} {{user.userInfo.lastName}}</label>
      </div>
      <ng-template #showEmail>
        <i>{{user.email}}</i>
      </ng-template>
    </div>
    <label class="raiting">General raiting: {{user.userInfo.generalRating}}</label>

    <div class="userRoles">
      <span class *ngFor="let role of user.roles">{{converToPlain(role)}}</span>
    </div>

    <div class="aditional-data" *ngIf="user.userInfo.showInfo">
      <label>Email: {{user.email}}</label>
      <div *ngIf="user.userInfo.phone && user.userInfo.phone != ''">
        <label>Phone: {{user.userInfo.phone}}</label>
      </div>
      <div *ngIf="user.userInfo.linkToSocialNetwork && user.userInfo.linkToSocialNetwork != ''">
        <label>Url: {{user.userInfo.linkToSocialNetwork}}</label>
      </div>
      <div *ngIf="user.userInfo.dateOfBirth && user.userInfo.dateOfBirth != ''">
        <label>DateOf birth: {{user.userInfo.dateOfBirth}}</label>
      </div>
      <div *ngIf="user.userInfo.showInfo && user.userInfo.showInfo != ''">
        <label>Public profile: {{user.userInfo.showInfo}}</label>
      </div>
      <div *ngIf="user.userInfo.workStatus && user.userInfo.workStatus != ''">
        <label>Work status: {{user.userInfo.workStatus}}</label>
      </div>
    </div>

    <div class="buttons">
      <button (click)=edit(user.email) mat-button> Edit </button>
      <button (click)=delete(user.email) mat-button>Delete</button>
    </div>
  </mat-card>

</div>
