<form class="project">

  <h1 mat-card-title>Edit Project</h1>

  <p>
  <mat-form-field class="name">
    <mat-label>Project name</mat-label>
    <input matInput placeholder="project name" type="text" [(ngModel)] = "project.name" id="name" name="name" >
  </mat-form-field>
  </p>

  <p>
  <mat-form-field class="name">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Some description" type="text" [(ngModel)] = "project.description" id="description" name="description"></textarea>
  </mat-form-field> 
  </p>

  <p>
  <mat-form-field>
      <mat-label>Project status</mat-label>
      <mat-select [(value)]="project.projectStatus" #clientValue (selectionChange)="getProjectStatus($event.value)"
        name="projectStatus" class="project-status">
        <mat-option *ngFor="let projectStatus of projectStatuses" [value]="projectStatus.value">
          {{ projectStatus.viewValue }}
        </mat-option>
      </mat-select>
  </mat-form-field>  
  </p>

  <button mat-stroked-button (click) = update()>Update</button>

</form>
