.container {
    margin: 1%;
}

.skills-chip-user-disabled {
    display: flex;
    background-color: rgb(255, 255, 255);
    border:1px solid gray;
}

.skills-chip-user-enabled {
    display: flex;
    background-color: rgb(255, 255, 255);
    border:2px solid green;
}