<div class="container">
    <h3>
        <span matBadge="{{skills.length}}" matBadgeOverlap="false" matBadgeSize="small" matBadgeColor="primary">
            <strong>My skills</strong>
        </span>
        <div>
            <button  mat-stroked-button color="primary" (click)=showModalForm() class="skill-management-button">Request to add new skills</button>
        </div>
    </h3>
    <mat-chip-list #chipList aria-label="Skills selection">
        <mat-chip *ngFor="let skill of skills" [selectable]="selectable" 
        [removable]="removable" color="primary">
            {{skill.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>
