
    .project-card {
      text-align: left;
      max-width: 700px;
      max-height: 300px;
      margin: 20px;
    }
    
  .project-header-image {
      background-size: cover;
    }
  .mat-card{
      margin: 40px auto;
      background-color: rgb(233, 254, 255);
    }
    .mat-card-title{
       margin: auto;
    }
  .mat-card-content p{
    margin: 0 16px;
    text-align: justify;
  }
  .mat-card-footer{
      margin:0 16px;
      display: flex;
      justify-content: space-between;
  }
  .mat-card-actions{
    margin: 0 16px;
  }
  .creating-date{
    text-align: right;
  }
  .skills{
    text-align: left;
  }
  .skills-chip {
    display: flex;
    margin-left: 5px;
    background-color: rgb(255, 255, 255);
    border:1px solid gray;
  }
  .pagination{
    padding-bottom: 50px;
 }
 .mat-paginator{
  background-color: transparent;
}
