<div class="registration">
  <div class="title">Login</div>
  <div class="content">
    <form [formGroup]="userForm" class="user-form">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Login" formControlName="email" />
          <mat-error *ngIf="userForm.controls.email.invalid">Login name must be less than 30. <i>Exp:
              example@mail.com</i>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" />
          <mat-error *ngIf="userForm.controls.password.invalid">Password name must be between 6 and 15</mat-error>
        </mat-form-field>
      </p>

      <button class="button-save" (click)="submit()" mat-raised-button color="primary">Login</button>
    </form>

    <p class="registration-link">
      <mat-label>
        Haven't account yet? <a href="/registration"> Registration</a>
      </mat-label>
    </p>

  </div>
</div>
