.skills-chip-list {
    width: 100%;
  }

.skill-management-button-row {
   display: table-cell;
   width:max-content;
}

.skill-management-flex-container {
    display: flex;
    justify-content:left;
    flex-wrap:wrap;
  }

mat-accordion > mat-expansion-panel {
    margin: 1%;
}

mat-panel-title > h3 {
    margin:3%;
}

mat-list-item > div {
    justify-content: left;
    margin: 0;
    display:grid;
}

.skills-chip-user-enabled {  
  background-color: rgb(255, 255, 255);
  border:2px solid green;
}

.skills-chip-user-disabled {  
  background-color: rgb(255, 255, 255);
  border:1px solid gray;
}
