<form [formGroup]= "projectForm" class="project">

  <h1 mat-card-title>Create new Project</h1>

  <p>
  <mat-form-field class="name">
    <mat-label>Project name</mat-label>
    <input matInput placeholder="Project name" type="text" [(ngModel)] = "project.name" id="name" formControlName="name">
    <mat-error *ngIf="projectForm.controls.name.invalid">Project name must be between 2 and 20 characters.
    </mat-error>
  </mat-form-field>
  </p>

  <p>
  <mat-form-field class="name">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Project description" type="text" [(ngModel)] = "project.description" id="description" formControlName="description"></textarea>
    <mat-error *ngIf="projectForm.controls.description.invalid">Description must be between 2 and 2000 characters.
    </mat-error>
  </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Skills</mat-label>
      <mat-select formControlName="skills" multiple >
        <mat-option #matOption *ngFor="let skill of skills" [value]="skill" checked
          (click)="setSelectedSkills(matOption)">
          {{ skill.name }}
        </mat-option>
      </mat-select>
      <mat-chip-list>
        <mat-chip *ngFor="let skill of project.skills">{{skill.name}}</mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </p>
  <p>
  <mat-form-field>
      <mat-label>Project status</mat-label>
      <mat-select [(value)]="selectedProjectStatus.value" [(ngModel)] = "project.projectStatus" #clientValue (selectionChange)="getProjectStatus($event.value)"
      formControlName="projectStatus" class="project-status">
        <mat-option *ngFor="let projectStatus of projectStatuses" [value]="projectStatus.value">
          {{ projectStatus.viewValue }}
        </mat-option>
      </mat-select>
  </mat-form-field>
  </p>

  <button mat-stroked-button (click) = create() [disabled]="!projectForm.valid">Create</button>

</form>
